<!--{include header_nohover}-->

<div class="hy_box">
        <div class="hy_left">
            <div class="hy_left_a">
            <ul>
            <li class="hov">关于我们</li><li><a href="contact.php">联系我们</a></li><li class="norlen"><a href="choseus.php">为什么选择适合我</a></li><li><a href="promise.php">保障承诺</a></li><li><a href="/help/faqs.php">帮助中心</a></li>
            </ul>
            </div>
        <div class="hy_left_b">
                <div class="hy_left_b_a"><div class="l">关于我们</div></div>
                <div class="len_erji_nav"><ul><li class="hover">适合我是什么</li><li><a href="team.php">适合我是谁创办的</a></li><li><a href="course.php">适合我的发展历程</a></li><li><a href="chant.php">适合我的核心理念</a></li></ul></div>
                <div class="a_one"></div>
                <div class="a_two">
                   <ul>
                   <li><div class="shuzi">1</div><div class="tiao">每天推出数款“超低价·高品质”的旅游产品，包括但不限于旅游线路、酒店、门票。</div></li>
                   <li><div class="shuzi">2</div><div class="tiao">适合我团购网的运营团队，是有着旅游行业丰富从业经验的专业人员，我们精益求精，一丝不苟的为您筛选“超低价·高品质”的旅游产品。</div></li>
                   <li><div class="shuzi">3</div><div class="tiao">只要您在适合我团购网注册，每天都会收到一封来自适合我团购网的邮件，会为您提供全国各地的“超低价·高品质”的旅游产品信息。</div></li>
                   <li><div class="shuzi">4</div><div class="tiao">适合我团购网，所有活动都是团购模式，必须达到最低团购人数，活动才生效。如时间截止时，没有达到最低团购人数，活动只能取消，适合我团购网，会立即返还已参加活动人员的购买费用。大家赶快发动周围的同事一起来抢购吧。</div></li>
                   <li><div class="shuzi">5</div><div class="tiao">适合我团购网，总有一团，适合我！<br>适合我团购网，在北京·上海·南京，有三大实体旅行社，五年专业水平。<br>适合我团购网，是中国领先的旅游团购网站，批量采购·质量好·价格低。</div>
</li>
                   </ul>
                </div>
                
            </div>
            <div class="hy_left_c"></div>
        </div>
        <div class="hy_right">
           <!--{include block_side_about}-->
        </div>
    </div>

<!--{include footer}-->
