<!--{include header_nohover}-->
<div class="hy_box">
        <div class="hy_left">
            <div class="hy_left_a">
            <ul>
            <li><a href="us.php">关于我们</a></li><li><a href="contact.php">联系我们</a></li><li class="norlen"><a href="choseus.php">为什么选择适合我</a></li><li class="hov">保障承诺</li><li><a href="/help/faqs.php">帮助中心</a></li>
            </ul>
            </div>
            <div class="hy_left_b">
                <div class="hy_left_b_a"><div class="l">消费保障承诺<a name="top"></a></div></div>
                <div class="promise"><a href="#bao" title="查看关于“保”的详细介绍"></a><a href="#hui" title="查看关于“惠”的详细介绍"></a><a href="#cheng" title="查看关于“诚”的详细介绍"></a></div>
                <div class="promise_t1"><a name="bao"></a></div>
                <div class="promise_con"><h2>1、过期未消费，7天内无条件退</h2>适合我推出“过期未消费，7天内无条件退”，进一步保障会员利益。您购买适合我，产品付款成功后，在此产品有效期截止后尚未消费的情况下，无论由于何种原因希望退款，7天内均可提出退款请求，符合退款条件即可实现无条件退款。
                <div style=" padding:20px 0px 0px 20px"><font color="#009900">不适用“过期未消费，7天内无条件退”的情况</font><br />
· 团购信息中标明了“不参加过期未消费，7天内无条件退”的团购；<br />
· 门票，电影票等；<br />
· 您已持“适合我券”进行消费，“适合我券”已使用；<br />
· 当前日期距离产品有效期截至日期已经超过7天</div><div class="promise_ad1"></div><h2>2、国家旅游局，六十万质保金</h2>适合我，是北京金牌国际旅行社总社旗下机构，在北京·上海·南京，有三大实体旅行社，五年专业水平，在国家旅游局缴纳六十万质量保证金，全面保证您的利益<h2>3、游客不满意，适合我先行赔付</h2>适合我，推出“游客不满意，适合我先行赔付”，即当商家无法兑现团购内容时，用户可以向适合我提出赔偿，然后再由适合我对商家进行追偿。只要您的理由是正当而且充分的，适合我会对您先行赔付。<div class="promise_ad2"></div></div>
                <div class="promise_t2"><a name="hui"></a><a href="#top">置顶</a></div>
                <div class="promise_con"><h2>1、不怕您比价，就怕您不比,不比不知道，比了吓一跳</h2>适合我，推出“不怕您比价”，适合我有着强大丰富的产品优势，只要您去比价，就一定会发现同类别产品，适合我的价格是最低的！</div>
                <div class="promise_t3"><a name="cheng"></a><a href="#top">置顶</a></div>
                <div class="promise_con"><h2>1、真实销售数字，永不造假</h2>虚假的销售数字，往往会误导消费者的购买判断。适合我承诺，每一单产品的销售数字均是真实数据。适合我以往、现在、将来，都不会做任何销售数字造假或夸大销售数字等误导消费者的行为。<h2>2、严格审核资质，全面保护</h2>我们承诺：擦亮双眼，严格把关！适合我，设立了有专业的产品质量鉴定部门，每家商家都需要经过我们的层层严格审核，只有达到服务认定标准的产品，才会发起团购。<h2>3、三大客服中心，真诚服务</h2>适合我，在北京、上海、南京均设有适合我客户服务中心，随时恭候您的大驾光临，为您提供真诚的贴心服务。
</div>
            </div>
            <div class="hy_left_c"></div>
        </div>
        <div class="hy_right">
            <!--{include block_side_about}-->
        </div>
    </div>
    <!--{include footer}-->