<!--{include header_nohover}-->

<div class="hy_box">
        <div class="hy_left">
            <div class="hy_left_a">
            <ul>
            <li class="hov">关于我们</li><li><a href="contact.php">联系我们</a></li><li class="norlen"><a href="choseus.php">为什么选择适合我</a></li><li><a href="promise.php">保障承诺</a></li><li><a href="/help/faqs.php">帮助中心</a></li>
            </ul>
            </div>
        <div class="hy_left_b">
                <div class="hy_left_b_a"><div class="l">关于我们</div></div>
                <div class="len_erji_nav"><ul><li><a href="us.php">适合我是什么</a></li><li><a href="team.php">适合我是谁创办的</a></li><li class="hover">适合我的发展历程</li><li><a href="chant.php">适合我的核心理念</a></li></ul></div>
                
				
            </div>
            <div class="hy_left_c"></div>
        </div>
        <div class="hy_right">
           <!--{include block_side_about}-->
        </div>
    </div>

<!--{include footer}-->