<div class="right_t"><h2 class="gzh">关注我们</h2></div>
<div class="right_m">
                    <dl>
                    <dt><a target="_blank" href="{$INI['system']['sinajiwai']}">适合我的新浪微博  <span>关注</span></a></dt>
					<dt><a target="_blank" href="{$INI['system']['kaixin']}">适合我的开心主页  <span>关注</span></a></dt>
					<dt><a target="_blank" href="{$INI['system']['tencentjiwai']}">适合我的腾讯微博  <span>关注</span></a></dt>
					<dt><a target="_blank" href="{$INI['system']['renren']}">适合我的人人主页  <span>关注</span></a></dt>
                    </dl>
                </div>
<div class="right_b"></div>