<!--{include header}-->


<div class="hy_box">
	
    <div id="content" class="coupons-box clear">
		
            <div class="hy_left_a"><ul>${current_account('/coupon/index.php')}</ul></div>
            <div class="hy_left_b">
                <div class="head">
                    <h2>我的{$INI['system']['couponname']}</h2>
                    <ul class="filter">
						<li class="label">分类: </li>
						${current_coupon_sub('index')}
					</ul>
				</div>
                <div class="sect">
					<!--{if $selector=='index'&&!$coupons}-->
					<div class="notice">目前没有可用的{$INI['system']['couponname']}</div>
					<!--{/if}-->
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table" width="100%">
						<tr><th width="55%">项目名称</th><th width="10%" nowrap>{$INI['system']['couponname']}编号</th><th width="10%" nowrap>密码</th><th width="10%" nowrap>有效日期</th><th width="15%">操作</th></tr>
					<!--{loop $coupons $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td><a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']} 
							<!--  {if isset($one['discounttag']) && $one['discounttag'] != ''}  -->
								【{$one['discounttag']}】
							<!-- {/if}  -->
						   </a></td>
							<td>{$one['id']}</td>
							<td>{$one['secret']}</td>
							<td>${date('Y-m-d', $one['expire_time'])}</td>
							<td><a href="/ajax/coupon.php?action=sms&id={$one['id']}" class="ajaxlink">短信</a>｜<a href="/coupon/print.php?id={$one['id']}" target="_blank">打印</a></td>
						</tr>	
					<!--{/loop}-->
						<tr><td colspan="5">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="hy_left_c"></div>
    </div>
    <div class="hy_right">
		<!--{include block_side_aboutcoupon}-->
    </div>
</div>


<!--{include footer}-->
