<!--{include header_normalqa}-->
<div class="hy_box">
        <div class="hy_left">
            <div class="hy_left_a">
            <ul>
            <li ><a href="/about/us.php">关于我们</a></li><li><a href="/about/contact.php">联系我们</a></li><li class="norlen"><a href="/about/choseus.php">为什么选择适合我</a></li><li><a href="/about/promise.php">保障承诺</a></li><li class="hov">帮助中心</li>
            </ul>
            </div>
			<div class="hy_left_b">
                <div class="hy_left_b_a hy_left_bg"><div class="l">帮助中心</div></div>
                <div class="erji_nav"><ul><li><a href="/help/faqs.php">常见问答</a></li><li class="hover">如何团购</li><li><a href="/help/pay.php">如何付款</a></li></ul></div>
                <div style="margin:0px auto; width:658px"><img src="/static/css/i/help_rumen.png"></div>
            </div>
            <div class="hy_left_c"></div>
        </div>
        <div class="hy_right">
           <!--{include block_side_about}-->
        </div>
    </div>

<!--{include footer}-->
