<!--{include manage_header}-->


<div class="hy_box" style="margin-top:0px">
    <div class="hy_left" id="content">
       
            <div class="hy_left_a"></div>
            <div class="hy_left_b">
                                <div class="head"><h2>管理员登录</h2></div>
                <div class="sect">
                    <form id="manage-user-form" method="post" action="/manage/login.php" class="validator">
                        <div class="field">
                            <label for="manage-login">登录名</label>
                            <input type="text" size="30" name="username" id="manage-username" class="f-input" datatype="require" require="true" />
                        </div>
                        <div class="field">
                            <label for="manage-password">密码</label>
                            <input type="password" size="30" name="password" id="manage-password" class="f-input" datatype="require" require="true" />
                        </div>
                        <div class="act">
                            <input type="submit" value="登录" name="commit" id="login-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
                            </div>
            <div class="hy_left_c"></div>
        
    </div>
    <div class="hy_right">
	</div>
</div>


<!--{include manage_footer}-->
